[submodule "continuous-integration"]
	path = topic_00_unix/homework
	url = https://github.com/mikeizbicki/continuous-integration

[submodule "functional-python"]
	path = topic_01_functions/functional-python
	url = https://github.com/mikeizbicki/functional-python

[submodule "html_validator"]
	path = topic_02_stack/html_validator
	url = https://github.com/mikeizbicki/html_validator

[submodule "pytest-lab"]
	path = topic_02_stack/pytest-lab_validator
	url = https://github.com/mikeizbicki/pytest-lab

#[submodule "example-homework"]
	#path = week_02/example-homework
	#url = https://github.com/mikeizbicki/example-homework

[submodule "word_ladder"]
	path = topic_03_queue/word_ladder
	url = https://github.com/mikeizbicki/word_ladder

[submodule "lab-timeit"]
	path = topic_03_queue/lab-timeit
	url = https://github.com/mikeizbicki/lab-timeit

[submodule "binary_search"]
	path = topic_04_recursion/binary_search
	url = https://github.com/mikeizbicki/binary_search

[submodule "lab-timeit2"]
    path = topic_04_recursion/lab-timeit2
    url = https://github.com/mikeizbicki/lab-timeit2

[submodule "sorting"]
	path = topic_05_sorting/sorting
	url = https://github.com/mikeizbicki/sorting

#[submodule "twitter_coronavirus"]
	#path = week_07/twitter_coronavirus
	#url = https://github.com/mikeizbicki/twitter_coronavirus

#[submodule "containers_08"]
	#path = week_08/containers
	#url = https://github.com/mikeizbicki/containers

#[submodule "containers_09"]
	#path = week_09/containers
	#url = https://github.com/mikeizbicki/containers

#[submodule "containers_10"]
	#path = week_10/containers
	#url = https://github.com/mikeizbicki/containers

#[submodule "containers_11"]
	#path = week_11/containers
	#url = https://github.com/mikeizbicki/containers

#[submodule "containers_12"]
	#path = week_12/containers
	#url = https://gitlab.com/claremont-mckenna/random-project-name

#[submodule "risk"]
	#path = week_14/risk
	#url = https://github.com/mikeizbicki/risk
[submodule "topic_04_recursion/lab-timeit2"]
	path = topic_04_recursion/lab-timeit2
	url = https://github.com/mikeizbicki/lab-timeit2
